/* line 3, ../../sass/layouts/default.sass */
a {
  color: #0054a6;
}
/* line 6, ../../sass/layouts/default.sass */
a:hover {
  color: #008ed3;
}

/* line 9, ../../sass/layouts/default.sass */
body {
  background-color: white;
  color: black;
}

/* line 13, ../../sass/layouts/default.sass */
footer {
  margin-top: 50px;
  padding: 30px 15px 60px 15px;
}

/* line 17, ../../sass/layouts/default.sass */
h1.category {
  margin-top: -6px;
}
/* line 20, ../../sass/layouts/default.sass */
h1.category > .label-default {
  background-color: black;
  color: #fd8d46;
  font-weight: normal;
}

/* line 25, ../../sass/layouts/default.sass */
h3, h5 {
  color: #fd8d46;
  font-weight: bold;
  margin: 0;
}
/* line 30, ../../sass/layouts/default.sass */
h3 > a, h5 > a {
  color: #fd8d46;
}

/* line 33, ../../sass/layouts/default.sass */
.auspiciantes {
  margin-bottom: 30px;
}

/* line 36, ../../sass/layouts/default.sass */
.categories-menu {
  margin-bottom: 10px;
}
/* line 39, ../../sass/layouts/default.sass */
.categories-menu > span {
  padding: 15px;
}

/* line 42, ../../sass/layouts/default.sass */
.container {
  min-height: 480px;
}

/* line 45, ../../sass/layouts/default.sass */
.dropdown-menu > li > a:hover {
  background-color: #333333;
  color: white;
}

/* line 49, ../../sass/layouts/default.sass */
.logo-superior {
  margin-bottom: 20px;
}
/* line 57, ../../sass/layouts/default.sass */
.logo-superior .img-responsive {
  width: 100px;
}

/* line 64, ../../sass/layouts/default.sass */
.nav-categorias {
  position: relative;
  z-index: -1;
}

/* line 68, ../../sass/layouts/default.sass */
.nav-tabs {
  font-weight: bold;
}
/* line 71, ../../sass/layouts/default.sass */
.nav-tabs > li > a:hover {
  background-color: #fd8d46;
}

/* line 74, ../../sass/layouts/default.sass */
.navbar-form {
  margin: 4px;
}

/* line 80, ../../sass/layouts/default.sass */
.navbar-top {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #994717), color-stop(100%, #fd8d46));
  background-image: -webkit-linear-gradient(#994717, #fd8d46);
  background-image: -moz-linear-gradient(#994717, #fd8d46);
  background-image: -o-linear-gradient(#994717, #fd8d46);
  background-image: linear-gradient(#994717, #fd8d46);
  background-color: #fd8d46;
  border-bottom-color: #994717;
  border-bottom-width: 10px;
  -moz-border-radius-bottomright: 70%;
  -webkit-border-bottom-right-radius: 70%;
  border-bottom-right-radius: 70%;
  -moz-border-radius-bottomleft: 70%;
  -webkit-border-bottom-left-radius: 70%;
  border-bottom-left-radius: 70%;
}

/* line 92, ../../sass/layouts/default.sass */
.navbar-out {
  background-color: #0054a6;
  border-bottom-color: #0054a6;
  border-bottom-width: 10px;
  -moz-border-radius-bottomright: 70%;
  -webkit-border-bottom-right-radius: 70%;
  border-bottom-right-radius: 70%;
  -moz-border-radius-bottomleft: 70%;
  -webkit-border-bottom-left-radius: 70%;
  border-bottom-left-radius: 70%;
  height: 90px;
  margin-bottom: 15px;
  position: relative;
  z-index: 1000;
}

/* line 107, ../../sass/layouts/default.sass */
a.no-decoration:hover {
  text-decoration: none;
}
