// Paleta
$azul: #2775FC // 5
$azulOscuro: #116C99 // 4
$ladrillo: #E6722D	// 1
// $naranja: #FF8640
$naranja: #FD8D46 // 3
$naranjaOscuro: #994717 // 2
$turqueza: #36AEB2  // 6

// #EB994D


$backgroundBody: #006E99
$black: #000000
$white: #ffffff