@import colors, compass/css3


h5
	margin-bottom: 15px

// .carousel-control.left, .carousel-control.right
	// background-image: none
	
.carousel-indicators
	bottom: auto
	top: 20px
	
.carousel-inner > .item > img, .carousel-inner > .item > a > img
	margin-left: auto
	margin-right: auto
	float: none
	height: 300px
	max-height: 300px

.carousel-caption
	+background-image(linear-gradient(rgba(0, 0, 0, 0.5) 0px, transparent 100%))
	bottom: -15px
	left: 10%
	padding-left: 10px
	padding-right: 10px
	right: 10%
	width: 80%

.portada
	height: 80px

.slogan
	margin-top: 5px
	
.video
	background:
		image: image-url('backgrounds/abstractBackgroundReverse.jpg')
		repeat: no-repeat
		position: top left
	// +background-size(cover)
	+background-size(100% 120%)
	
.videoRow
	+background-image(linear-gradient(transparent 30%, darken($azulClaro, 20%) 85%, darken($azulClaro, 20%) 100%))
	+single-box-shadow(#000000)
	border: 1px solid #000
	height: 165px
	// background-color: darken($azulOscuro, 10%)
	
.videoText
	padding: 10px 0
	font-family: 'Dosis', sans-serif
	// background-color: darken($azulOscuro, 15%)
	
.videoThumb
	padding: 10px 0
	
	& img
		min-height: 85px
		max-height: 85px
