/* line 1, ../../sass/tracks/iframe.sass */
.col-video {
  display: inline-block;
  height: 241px;
  overflow: hidden;
  margin: 7px;
  position: relative;
  width: 230px;
}
/* line 9, ../../sass/tracks/iframe.sass */
.col-video h3 {
  margin-top: 10px;
  font-size: 18px;
}
/* line 13, ../../sass/tracks/iframe.sass */
.col-video img {
  height: 120px;
}
